[access]
	inheritFrom = All-Projects
[project]
	description = This is a repository for development of a website for Spotify Hackaton managed by DevX
[access "refs/*"]
	owner = group user/Phub71
[access "refs/for/refs/*"]
	read = group user/Phub71
	push = group user/Phub71
	label-Code-Review = -2..+2 group user/Phub71
	label-Verified = -1..+1 group user/Phub71
	rebase = group user/Phub71
	removeReviewer = group user/Phub71
	submit = group user/Phub71
[access "refs/heads/*"]
	read = group user/Phub71
	create = group user/Phub71
	push = +force group user/Phub71
	pushMerge = group user/Phub71
[access "refs/tags/*"]
	push = group user/Phub71
	push = +force group user/Phub71
