<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!DOCTYPE html>
<html>
<head>
    <title>Spotify wall of songs</title>
    <meta name="description" content="An introduction to interacting with the Spotify API">
    <link id="favicon" rel="icon" href="https://cdn.glitch.com/project-avatar/b96c147f-8065-40a6-9908-4fcafce2a361.png"
          type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://sp-bootstrap.global.ssl.fastly.net/8.0.0/sp-bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/public/style.css">
</head>
<body>
<div class="wrapper">
    <header></header>
    <a href="/auth">
        <button class="btn btn-lg btn-primary">Login</button>

    </a>
</div>
</body>
</html>
