/* styles */
/* called by your view template */

/* You might want to try something fancier: */
/* less: http://lesscss.org/ */

* {
    box-sizing: border-box;
}

body {
    width:100%;
    padding:0;
    margin:0;
    background-image:url("bg.jpg");
}

.wrapper{
	padding-top: 13em;
	height:700px;
	width:80%;
	margin-left:auto;
	margin-right:auto;

}

.content{
	width: 80%;
	margin-left:auto;
	margin-right:auto;
}

h1{
	color:black;
	font-size: 72px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	text-align: center;
}

h2{
	color:slategray;
	font-size: 42px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	text-align: center;	
}

h3{
	color:slategray;
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	text-align: center;	
}

.btn_wrap{
	width:317px;
	margin-left: auto;
	margin-right: auto;
}

button {
    -webkit-transform: translateZ(200px); /* Equivalent or greater than parent's*/
    transform: translateZ(200px);
}

.btn{
	margin-top: 2em;
}

header {
    padding: 10px 40px;
}

footer{
	width:100%;
	float:left;
	padding: 0 0 80px 0;
	font-size: 16px;
	color: rgba(20,20,20,.6);
	text-align: center;
}
